{% extends 'layout.html' %}
{% from 'include/empty.html' import empty %}
{% set active_page='repo' %}
{% block title %}{% trans %}Repositories{% endtrans %}{% endblock %}
{% block body %}

{% macro repo_list_item(repo)%}
<a {{ attrib(class=['list-group-item', repo.failed and 'disabled', repo.status[0] != 'ok' and 'list-group-item-warning']) }}
    href="{{ url_for('browse', repo) }}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <meta itemprop="name" content="{{ repo.path.decode('utf-8', 'replace') }}" />
  <i class="icon-hdd"></i>
  {% set name = repo.display_name.split('/')[-1] %}
  {{ name }}{% if name|length==1 %}:\{% endif %}
  <span class="pull-right light">
      {% if repo.status[0] != 'ok' %}
      <span data-toggle="tooltip" data-placement="left" title="{{ repo.status[1] }}"><i class="icon-attention"></i></span>
      {% endif %}
      {% if repo.last_backup_date %}
      {% trans %}Updated {% endtrans %}
      <time datetime="{{ repo.last_backup_date }}" >{{ repo.last_backup_date | lastupdated }}</span>
      {% endif %}
  </span>
</a>
{% endmacro %}

{# Repo Tree #}
{% macro repo_tree(repos) -%}
  {% if repos|length == 0 %}
    {% call empty('icon-box', 'No repositories') %}
      <p>{% trans %}You don't have any repositories configured. You may need to refresh your repositories from your user profile if you just made a new backup.{% endtrans %}</p>
      <a class="btn btn-success" href="{{ url_for('prefs', 'general') }}">{% trans %}Go to your user profile{% endtrans%}</a>
    {% endcall %}
  {% else %}
    <div class="list-group" itemscope itemtype="http://schema.org/ItemList">
    {% for name, data in create_repo_tree(repos).items() recursive %}
      {% if data.items %}
        {# Data is a list of children #}
        <div class="list-group-item">
          <div class="list-group-item-heading">
            {% set is_desktop = data.keys()[0]|length == 1 %}
            <i class="{% if is_desktop %}icon-laptop{% else %}icon-box{% endif %}"></i> {{ name }}
          </div>
          <div class="list-group" id="{{ outer_name }}{{ name }}">
          {{ loop(data.items()) }}
          </div>
        </div>
      {% else %}
        {# Data is a repo #}
        {{ repo_list_item(data) }}
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
{%- endmacro %}

<div class="container" id="locations">
    <h2>{% trans %}Repositories{% endtrans %} ({{ repos|length }})</h2>
    
    <!-- disk usage/quota -->
    {% if disk_usage and disk_quota %}
    <div itemscope itemtype="https://schema.org/Filesystem" class="well well-sm">
	  {% set used_pct = disk_usage / disk_quota * 100 %}
	  {% set used_str = disk_usage | filesize %}
	  {% set size_str = disk_quota | filesize %}
	  {% set avail_str = (disk_quota - disk_usage) | filesize %}
	  <b>{% trans %}Usage{% endtrans %}</b>
	  {{ used_str }} {% trans %}used{% endtrans %} | {{ size_str }} {% trans %}total{% endtrans %} | {{ avail_str }} {% trans %}free{% endtrans %}
	  <div class="progress">
	    <div class="progress-bar {% if used_pct > 90 %}progress-bar-warning{% else %}progress-bar-success{% endif %}"
	         role="progressbar"
	         aria-valuenow="{{ used_pct }}"
	         aria-valuemin="0"
	         aria-valuemax="100"
	         style="width: {{ used_pct }}%">
	    </div>
	  </div>
	</div>
	{% endif %}

    {{ repo_tree(repos) }}

</div>
{% endblock %}